In [27]:
#!pip install pymysql

In [28]:
# prep: import modules and get pwd
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input
password = getpass.getpass()

········

1.Create

In [30]:
# get the data
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)

query = '''select title as film_name, l.name as language, length, rating, special_features, c.name as film_category,
case when date_format(rental_date, '%%m-%%Y') = '06-2005'
then 1 Else 0 End as 'rented'
from film f
join film_category fc
using(film_id)
join language l
using(language_id) 
join category c
using(category_id)
join inventory i
using(film_id)
left join rental r
using(inventory_id)
group by title, l.name, length, rating, special_features, c.name;'''

data = pd.read_sql_query(query, engine)
data.head()

,film_name,language,length,rating,special_features,film_category,rented
0,WORKING MICROCOSMOS,English,74,R,"Commentaries,Deleted Scenes",Travel,1
1,WORKER TARZAN,English,139,R,"Trailers,Commentaries,Behind the Scenes",Travel,0
2,WOLVES DESIRE,English,55,NC-17,Behind the Scenes,Travel,1
3,WINDOW SIDE,English,85,R,"Deleted Scenes,Behind the Scenes",Travel,1
4,VALENTINE VANISHING,English,48,PG-13,"Trailers,Behind the Scenes",Travel,0